header {
  margin-bottom: 30px;
}

li {
  display: inline;
  padding: 0px 25px 0px 25px;
}

li:last-child {
  border-right: none;
  padding-left: 25px;
}

a:link {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #ffffff;
  text-decoration: none;
}
a:visited {
  color: #ffffff;
}
a:hover {
  color: #ffce6e;
}

body {
  background: #dddddd;
  background: url(../images/fishnets-and-hearts.png);
  margin: 0px;
}

h1 {
  font-family: "Georgia", Times, Times New Roman, serif;
}
.jumbotron,
.card {
  margin-top: 10px;
}
