img {
  width: 75px;
}
header {
  background: #fff;
  border-bottom: solid;
  border-bottom-width: 100%;
  border-color: #cccccc;
  height: 77px;
  width: 100%;
}

nav {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #777777;
  size: 18pt;
  float: right;
  padding-top: 30px;
  margin-right: 100px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
  padding: 0px 25px 0px 25px;
  border-right: 1px solid #dddddd;
}

li:last-child {
  border-right: none;
}

a:link {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #777777;
  text-decoration: none;
}
a:visited {
  color: #4aaaa5;
}
a:hover {
  color: #ffce6e;
}

h1 {
  font-family: "Georgia", Times, Times New Roman, serif;
}
body {
  background: #dddddd;
  background: url(../images/fishnets-and-hearts.png);
  margin: 0px;
}

h1 {
  font-family: "Georgia", Times, Times New Roman, serif;
  color: #4aaaa5;
  font-size: 36pt;
  margin: auto;

  padding: 0px 20px 20px 20px;
}
h2 {
  font-family: "Georgia", Times, Times New Roman, serif;
  color: #4aaaa5;
  font-size: 24pt;
  margin: auto;
  padding: 20px;
}
main {
  width: 960px;
  margin: auto;
  padding: auto;
}
article {
  width: 250px;

  margin-right: 20px;
  float: right;
}
p {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12pt;
  columns: #777777;
  text-align: right;
}
aside {
  width: 500px;
  /* float: right; */
  background: #dddddd;
  padding: 20px;
}
.crystals {
  width: 315px;
  margin: auto;
}
#credit {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 6pt;
}
#goalNumber {
  font-family: "Georgia", Times, Times New Roman, serif;
  color: #4aaaa5;
  font-size: 36pt;
  margin: auto;
  padding: 20px;
  border-style: solid;
  text-align: center;
  padding-top: 20px;
}
#collectedCrystals {
  font-family: "Georgia", Times, Times New Roman, serif;
  color: #4aaaa5;
  font-size: 20pt;
  margin: auto;
  padding: 20px;
  border-style: solid;
  text-align: center;
}
#score {
  font-family: "Georgia", Times, Times New Roman, serif;
  color: #4aaaa5;
  font-size: 20pt;
  margin: auto;
  padding: 20px;
  border-style: solid;
  text-align: center;
}
